@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
/*=======NEWS FEED =========*/
.post {
  margin: 15px 0;
  padding: 5px;
  border: solid 0.5px black;
  border-radius: 5px;
}

.postContainer {
  width: 750px;
  margin: 0 auto;
}

.voteIcon {
  font-size: 18px;
  cursor: pointer;
}

.postVotes {
  text-align: center;
  vertical-align: middle;
  line-height: 28px;
  margin: 0;
}

.postedIn {
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.postTitle {
  margin-top: 5px;
}

.postStats {
  font-size: 12px;
  margin-top: 15px;
}

.postCommentsIcon {
  margin-right: 5px;
}

.postTitle:hover {
  cursor: pointer;
}

.activeDown {
  color: red;
}

.activeUp {
  color: green;
}

.read_more {
  cursor: pointer;
}

/*=======Comments ==========*/
.ui.comments .comment .reply.form {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ui.comments .reply.form textarea {
  font-size: 1em;
  height: 5em !important;
}

.ui.comments .comment {
  margin-top: 1em !important;
}

.ui.comments {
  margin: 0 !important;
  max-width: 100% !important;
}

/*=======SINGLE POST PAGE========*/
.postBody {
  margin-top: 10px;
  white-space: pre-wrap;
}

.send-message {
  background-color: gray;
  padding: 5px;
  cursor: pointer;
}

/*=======NEWS FEED LAYOUT========*/

.newsFeedContainer {
  max-width: 980px;
  margin: 0 auto;
  overflow-x: hidden;
}

.infinite-scroll-component {
  overflow-x: hidden;
}

/*=======NAV BAR========*/
.navigation {
  background: #f8f9fa !important;
  padding: 10px 0;
  margin-bottom: 15px;
  position: relative;
}

.navigation p {
  margin: 0;
}

.authBtns {
  margin-left: 10px;
}

#logo-text {
  margin-top: 5px;
  font-size: 20px;
  cursor: pointer;
}

.no-padding {
  padding: 1px !important;
}

.logout {
  margin-left: 15px !important;
}

/*======== NOTIFIFCAION ========*/
.notification_badge {
  background-color: #e74c3c;
  padding: 2px 5px;
  border-radius: 15px;
  position: absolute;
  top: -5px;
  font-size: 10px;
  color: white;
}

.notif-container {
  position: absolute;
  background-color: red;
  padding: 10px;
  bottom: -50px;
  right: 0;
  width: 100%;
}

.cursor {
  cursor: pointer;
}

/*========NEWS FEED FILTER======*/
.newsfeedBtnFilter {
  border-radius: 20px !important;
  margin-right: 10px;
}

/*========AUTH==================*/
.auth-wrapper {
  display: flex;
  justify-content: center;
  text-align: left;
}

.auth-inner {
  /* width: 450px;
  margin: auto; */
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;

  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*============= Class Info ========*/

.classInfo {
  margin-bottom: 20px;
}

.joinClass {
  background-color: #2fcc8b !important;
  border-color: #2fcc8b !important;
}

/*============== CREATE POST ==========*/
.createPost {
  margin-bottom: 10px;
}
.submitPost {
  /* background-color: #2fcc8b !important;
  border-color: #2fcc8b !important; */
  padding: 25px !important;
}

.fileContainer .chooseFileButton {
  background-color: gray !important;
  cursor: default !important;
}

/*============== Notifications ==========*/
.toast-notifs {
  max-width: 100% !important;
}

.card-body {
  padding: 0.8em !important;
}

.fade.toast.toast-notifs.show {
  margin-top: 10px;
}

/*============= Search =========*/
/**
 * Main wrapper
 */
.select-search {
  width: 100%;
  position: relative;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

.select-search *,
.select-search *::after,
.select-search *::before {
  box-sizing: inherit;
}

/**
* Value wrapper
*/
.select-search__value {
  position: relative;
  z-index: 1;
}

.select-search__value::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 9px);
  right: 11px;
  width: 11px;
  height: 11px;
}

/**
* Input
*/
.select-search__input {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0 16px;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  outline: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 36px;
  -webkit-appearance: none;
}

.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.select-search__input:not([readonly]):focus {
  cursor: initial;
}

/**
* Options wrapper
*/
.select-search__select {
  background: #fff;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
}

/**
* Options
*/
.select-search__options {
  list-style: none;
  padding-left: 0;
}

/**
* Option row
*/
.select-search__row:not(:first-child) {
  border-top: 1px solid #eee;
}

/**
* Option
*/
.select-search__option {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0 16px;
  background: #fff;
  border: none;
  outline: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}

.select-search--multiple .select-search__option {
  height: 48px;
}

.select-search__option.is-selected {
  background: #2fcc8b;
  color: #fff;
}

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
  background: rgba(47, 204, 139, 0.1);
}

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
  background: #2eb378;
  color: #fff;
}

/**
* Group
*/
.select-search__group-header {
  font-size: 10px;
  text-transform: uppercase;
  background: #eee;
  padding: 8px 16px;
}

/**
* States
*/
.select-search.is-disabled {
  opacity: 0.5;
}

.select-search.is-loading .select-search__value::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='%232F2D37' d='M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
  background-size: 11px;
}

.select-search:not(.is-disabled) .select-search__input {
  cursor: pointer;
}

/**
* Modifiers
*/
.select-search--multiple {
  border-radius: 3px;
  overflow: hidden;
}

.select-search:not(.is-loading):not(.select-search--multiple)
  .select-search__value::after {
  transform: rotate(45deg);
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  pointer-events: none;
}

.select-search--multiple .select-search__input {
  cursor: initial;
}

.select-search--multiple .select-search__input {
  border-radius: 3px 3px 0 0;
}

.select-search--multiple:not(.select-search--search) .select-search__input {
  cursor: default;
}

.select-search:not(.select-search--multiple) .select-search__input:hover {
  border-color: #2fcc8b;
}

.select-search:not(.select-search--multiple) .select-search__select {
  position: absolute;
  z-index: 2;
  top: 44px;
  right: 0;
  left: 0;
  border-radius: 3px;
  overflow: auto;
  max-height: 360px;
}

.select-search--multiple .select-search__select {
  position: relative;
  overflow: auto;
  max-height: 260px;
  border-top: 1px solid #eee;
  border-radius: 0 0 3px 3px;
}
